@import './Utils.scss';
// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: 'Nunito Sans', sans-serif;
}
// Main
main {
  background: $light-gray;
  padding: 50px;
  min-height: 100vh;
}
@media only screen and (max-width: 480px) {
  main {
    padding: 30px 15px;
  }
}