@import './Utils.scss';
// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: 'Nunito Sans', sans-serif;
}
// Main
main {
  background: $light-gray;
  padding: 50px;
  min-height: 100vh;
}
// Loader logic
.loader {
  position: absolute;
  margin-top: 50px;
  margin-left: calc(50% - 80px);
  border: 8px solid #fff;
  border-top: 8px solid $dark-gray;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 480px) {
  .loader {
    margin-left: calc(50% - 46px);
  }
  main {
    padding: 30px 15px;
  }
}