@import './Utils.scss';
body.dark {
  p,h2,h1,li,a,input,button,svg {
    color: white !important;
  }
  main,header {
    background: $darker-bg-blue;
  }
  .country-card,input,button,.active {
    background: $dark-blue !important;
    box-shadow: none !important;
  }
  header {
    border-bottom: hsl(208, 28%, 12%) 3px solid;
  }
}