// Font
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
// Colors
$dark-blue: hsl(209, 23%, 22%);
$darker-bg-blue: hsl(207, 26%, 17%);
$dark-gray: hsl(0, 0%, 40%);
$light-gray: hsl(0, 0%, 94%);
$white: hsl(0, 0%, 100%);