@import '../styles/Utils.scss';
.country-card {
  border-radius: 5px;
  overflow: hidden;
  background: $white;
  .image {
    height: 260px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .info {
    padding: 20px 30px;
    h3 {
      padding-bottom: 12px;
      font-weight: 800;
    }
    li {
      margin: 2px 0;
      span {
        font-weight: 600;
      }
    }
  }
}