@import '../styles/Utils.scss';

.output {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: auto;
  grid-gap: 67px;
  .not-found {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  .loader {
    position: absolute;
    margin-top: 50px;
    margin-left: calc(50% - 60px);
    border: 8px solid #fff;
    border-top: 8px solid $dark-gray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
@media only screen and (max-width: 480px) {
  .output {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}